/* main content area */
main{
    margin-left: var(--aside_width);
    position: relative;
    z-index: 1;
}

/* sidebar */
aside{
    background-color: var(--var1);
    width: var(--aside_width);
    color: var(--var4);
    overflow: hidden;
    position: fixed;
    font-size: 16px;
    height: 100vh;
    z-index: 2;
    left: 0;
    top: 0;
}


#top_banner{
    background-color: var(--var2);
    position: relative;
    color: var(--var4);
}

#dash-logo{
    font-family: 'Squada One', sans-serif;
    padding: 24px 20px;
    line-height: 36px;
    font-weight: 400;
    overflow: hidden;
    font-size: 36px;
}

/* burger */
#burger{
    background-color: transparent;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    display: none;
    border: none;
    right: 20px;
    bottom: 8px;
    width: 30px;
    padding: 0;
    margin: 0;
    top: 50%;
}

#burger:focus{
    outline: none;
}

#burger span{
    background-color: var(--var4);
    pointer-events: none;
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
}

#burger span:nth-child(1),
#burger span:nth-child(2){
    margin-bottom: 6px;
}

#burger span:nth-child(3){
    width: 60%;
}

.show_mobile_nav #burger span:nth-child(1){
    transform: rotate(45deg) translate(4px, 4px);
}

.show_mobile_nav #burger span:nth-child(2){
    transform: rotate(-45deg) translate(2px, -2px);
}

.show_mobile_nav #burger span:nth-child(3){
    opacity: 0;
}

/* sidebar navigation */
aside nav{
    height: calc(100vh - 100px);
    padding: 20px 0 0 0;
    overflow-y: auto;
}

aside nav button{
    transition: color 200ms ease-in-out;
    color: rgba(var(--var4r),0.6);
    width: calc(100% - 40px);
    margin: 0 0 15px 20px;
    padding-right: 40px;
    position: relative;
    font-size: inherit;
    background: none;
    text-align: left;
    cursor: pointer;
    display: block;
    outline: none;
    border: none;
    padding: 0;
}

aside nav button:hover{
    background-color: transparent;
}

aside nav button>.count{
    background-color: rgba(var(--var5r),0.4);
    transform: translateY(-50%);
    position: absolute;
    color: var(--var4);
    border-radius: 14px;
    padding: 4px 12px;
    font-size: 80%;
    right: 0;
    top: 50%;
}

aside nav button>.alert{
    background-color: var(--var6);
    color: var(--var4);
}


aside nav button:hover,
aside nav button.active{
    color: rgba(var(--var4r),1);
}

/* sidebar navigation sections */
aside nav section{
    background-color: rgba(var(--var5r),0.1);
    padding: 20px 20px 10px 20px;
    width: calc(100% - 60px);
    margin: 0 10px 20px 10px;
    border-radius: 8px;
}

aside nav section .heading>small{
    display: block;
    opacity: 0.6;
}

aside nav section .heading>.avatar{
    background-color: rgba(var(--var5r),0.6);
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    float: left;
    clear: left;
    width: 50px;
}

aside nav section button{
    margin: 0 0 15px 0;
    width: 100%;
}

aside nav section.has_avatar button{
    width: calc(100% - 60px);
    margin-left: 60px;
}

/* break points */
@media screen and (max-width: 1040px) {

    main{
        margin-left: var(--aside_small_desktop_width);
    }

    aside{
        width: var(--aside_small_desktop_width);
    }

    #dash-logo{
        text-align: center;
    }

    aside nav section .heading>.avatar{
        margin: 0 auto 10px auto;
        display: table;
        float: none;
    }

    aside nav section.has_avatar button{
        margin-left: 0;
        width: 100%;
    }

    aside nav section.has_avatar .heading{
        border-bottom: solid 2px rgba(255,255,255,0.1);
        padding-bottom: 20px;
        text-align: center;
    }

    aside nav button>.count{
        display: none;
    }
}

@media screen and (max-width: 820px) {
    main{
        margin-top: var(--logo_height);
        margin-left: 0;
    }

    aside{
        max-height: var(--logo_height);
        width: 100%;
    }

    aside nav{
        justify-content: space-between;
        flex-flow: row wrap;
        display: flex;
    }

    aside nav section{
        width: calc(50% - 60px);
    }

    #dash-logo{
        text-align: left;
    }

    #burger{
        display: block;
    }

    .show_mobile_nav aside{
        max-height: 100vh;
    }

    aside nav button>.count{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    aside nav section{
        width: 100%;
    }

    #dash-logo{
        padding: 15px 20px;
    }

    aside{
        max-height: calc(var(--logo_height) - 20px);
    }

    main{
        margin-top: calc(var(--logo_height) - 20px);
    }
}