/* google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* boilerplate */
body{
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    font-weight: normal;
    color: var(--var1);
    font-size: 16px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    font-weight: inherit;
    margin: 0 0 20px 0;
    font-weight: 400;
    display: block;
    color: inherit;
}

h1{
    line-height: 38px;
    font-size: 32px;
}

h2{
    line-height: 32px;
    font-size: 28px;
}

h3{
    line-height: 28px;
    font-size: 24px;   
}

h4{
    line-height: 24px;
    font-size: 20px;   
}

p{
    font-size: inherit;
    line-height: 24px;
}

a{
    color: inherit;
}

.banner{
    background-color: var(--var1);
    color: var(--var4);
    border-radius: 4px;
    padding: 15px;
}

/* layout */
.span{
    justify-content: space-between;
    flex-flow: row wrap;
    --minus_px: 10px;
    display: flex;
}

.span2 *{
    width: calc(50% - var(--minus_px));
}

.span3 *{
    width: calc(33.33% - var(--minus_px));
}

.span4 *{
    width: calc(25% - var(--minus_px));
}

/* layout breakpoint */
@media screen and (max-width: 1440px) {
    .span4 *{
        width: calc(50% - var(--minus_px));
    }
}

@media screen and (max-width: 1240px) {
    .span3 *{
        width: calc(50% - var(--minus_px));
    }
}


@media screen and (max-width: 520px) {
    .span2 *,
    .span3 *,
    .span4 *{
        width: 100%
    }
}

/* form */
form fieldset{
    padding: 0;
    margin: 0;
    border: 0;
}

button,
.button{
    transition: background-color 300ms ease-in-out;
    background-color: var(--var3);
    line-height: inherit;
    margin: 0 10px 10px 0;
    position: relative;
    font-size: inherit;
    color: var(--var4);
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: none;
}

.button.go,
button.go{
    background-color: var(--var2);
}

.button.alert,
button.alert{
    background-color: var(--var6);
}

button:hover,
.button:hover{
    background-color: var(--var1);
}

button:active,
.button:active{
    background-color: var(--var3); 
}

button span,
.button span{
    pointer-events: none;
}

.button .loader,
button .loader{
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
}

button[type="button"].processing>span,
button[type="submit"].processing>span,
.button.processing>span{
    opacity: 0;
}

button[type="button"].processing .loader,
button[type="submit"].processing .loader,
.button.processing .loader{
    display: block;
    opacity: 1;
}

input, textarea, .button, form button, label{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form p[data-type="input"]{
    position: relative;
}

form p[data-type="input"] input,
form p[data-type="input"] textarea{
    background-color: var(--var4);
    border: solid 1px var(--var5);
    width: calc(100% - 25px);
    border-left-width: 4px;
    font-size: inherit;
    border-radius: 4px;
    outline: none;
    padding: 10px;
}

form p[data-type="input"] input:focus,
form p[data-type="input"] textarea:focus{
    border-color: var(--var3);
}


form p[data-type="input"] small{
    padding: 5px 0 0 0;
    display: block;
    opacity: 0.8;
    width: 100%;
}

form p[data-type="input"] label{
    transition: all 100ms ease-in-out;
    position: absolute;
    width: 100%;
    left: 15px;
    top: 10px;
}

p[data-type="input"].focused label{
    font-size: 12px;
    opacity: 0.6;
    top: 6px;
}

p[data-type="input"].focused input{
    padding: 30px 10px 10px 10px;
}

@media screen and (max-width: 360px) {
    button,
    .button{
        width: 100%;
    }
}

/* table */
.table{
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.table .row{
    border-bottom: solid 1px var(--var7);
    justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
}

.table .row.header{
    background-color: var(--var1);
    color: var(--var7);
    font-weight: 400;
}

.table .row.header span{
    border-color: rgba(255, 255, 255, 0.2);
}

.table .row span{
    border-left: solid 1px var(--var7);
    padding: 15px;
    flex-grow: 1;
}

.table .row span:last-child{
    border-right: solid 1px var(--var7);
}

.table .row span:hover{
    background-color: var(--var7);
}

.table .row.header span:hover{
    background-color: inherit;
}

@media screen and (max-width: 480px) {

    .table .row{
        margin-bottom: 20px;
    }

    .table .row span{
        border-top: solid 1px var(--var7);
        width: 100%;
    }

    .table .row span{
        border-right: solid 1px var(--var7);
    }

    .table .row.header span{
        border-color: rgba(255, 255, 255, 0.2);
    }
}


/* loader: original can be found here: https://loading.io/css */
.loader{
    vertical-align: middle;
    display: inline-block;
    pointer-events: none;
    position: relative;
    height: 10px;
    width: 64px;
}

.loader div{
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: var(--var1);
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: 0;
}

.button .loader div,
button .loader div{
    background-color: var(--var4);
}

.loader div:nth-child(1){
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.loader div:nth-child(2){
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.loader div:nth-child(3){
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.loader div:nth-child(4){
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(19px, 0);
    }
}