/* variables */
:root {
    --var1: #292F32; /* dark grey */
    --var2: #32B959; /* green */
    --var3: #2EABDF; /* blue */
    --var4: #FFFFFF; /* white */
    --var4r: 255,255,255; /* white */
    --var5: #D4D4D4; /* mid grey */
    --var5r: 167,167,167; /* mid grey rgb */
    --var6: #DF382F; /* red */
    --var7: #f7f7f7; /* light grey */


    --aside_width: 300px;
    --logo_height: 80px;
    --aside_small_desktop_width: 240px;
    --aside_small_mobile_width: -200px;
    --section_subnav_width: 260px;
    --content_height: calc(100vh - 100px);
}