/* section */
main>section{
    display: none;
}

main>section.active{
    display: block;
}

main>section header{
    border-bottom: solid 1px var(--var5);
    padding: 30px 20px 5px 20px;
}

main>section .inner_content{
    padding: 20px 20px 0 20px;
}

main>section>.content{
    max-height: var(--content_height);
    overflow-y: auto;
}

/* section with navigation */
main>section .has_nav{
    flex-flow: row wrap;
    display: flex;
}

main>section nav{
    width: calc(var(--section_subnav_width) - 1px);
    border-right: solid 1px var(--var5);
    height: var(--content_height);
}

main>section nav a{
    border-bottom: solid 1px var(--var5);
    text-decoration: none;
    display: block;
    padding: 20px;
}

main>section nav a small{
    margin-top: 4px;
    display: block;
}

main>section nav a.has_dot:before{
    background-color: var(--var6);
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    height: 10px;
    width: 10px;
    content: "";
}

main>section nav a.dot_inactive:before{
    background-color: var(--var5);
}

main>section nav a.has_dot small{
    margin-left: 15px;
}

main>section nav a.active,
main>section nav a:hover{
    background-color: var(--var7);
}

main>section .sections{
    width: calc(100% - var(--section_subnav_width));
}

main>section .sections section{
    display: none;
}

main>section .sections section.inner_content{
    padding: 40px 40px 20px 40px;
}

main>section .sections section.active{
    display: block;
}