body{
    background-color: var(--var1);
    color: var(--var4);
}

main{
    transform: translate(-50%, -50%);
    max-width: calc(100% - 40px);
    position: fixed;
    width: 800px;
    left: 50%;
    top: 50%;
}

/* footer content */
main #footer-content{
    transform: translateX(-50%);
    color: rgba(var(--var5r),0.9);
    position: absolute;
    margin: 15px 0 0 0;
    font-size: 16px;
    width: 100%;
    text-align: center;
    left: 50%;
}

main #footer-content a{
    text-decoration: none;
    display: inline-block;
    color: var(--var4);
    font-weight: 400;
}

main #footer-content a:hover:after{
    background-color: var(--var4);
    width: calc(100% - 8px);
    margin: 2px 0 0 0;
    display: block;
    opacity: 0.4;
    content: "";
    height: 1px;
}

main #footer-content span.spacer{
    display: inline-block;
    margin: 0 20px;
}

/* sections */
main #sections{
    background-color: var(--var4);
    flex-flow: row wrap;
    color: var(--var1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

main #sections section{
    width: 50%;
}

main #sections section .content{
    padding: 40px;
}

main #sections section .content h2{
    line-height: 32px;
    font-size: 26px;
}

main #sections section:nth-child(1){
    background-color: var(--var2);
    color: var(--var4);
}

/* form */
main form button{
    background-color: var(--var2);
}

main form button:active{
    background-color: var(--var2);
    transition: none;
}

main form fieldset{
    background-color: rgba(var(--var5r),0.2);
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

form p[data-type="input"] input:focus,
form p[data-type="input"] textarea:focus{
    border-color: var(--var2);
}


@media screen and (max-width: 740px) {
    main #sections section .content{
        padding: 20px;
    }
}

@media screen and (max-width: 620px) {

    main{
        transform: translate(0, 0);
        position: relative;
        margin: 20px;
        left: 0;
        top: 0;
    }

    main #sections section{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    main #footer-content span{
        display: block;
    }

    main #footer-content span.spacer{
        display: none;
    }
}


@media screen and (max-width: 360px) {
    main form fieldset{
        background-color: transparent;
        padding: 0;
    }
}